<div class="contenedor">
    <h3 class="my-3 text-center">Creadores</h3>

    <div class="subcontenedor d-flex justify-concent-center">
        <div class="card" style="width: 90%;">
            <img src="https://play-lh.googleusercontent.com/m6qGgzZoTUmfsf6wWe3BtJWlit1hZNHeDyFVgmdRlJHiwn_ipBg7UHxc6GGojRUM7T4" class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Maria Fernanda</h5>
              <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 3 años, promedio general sobre 9,3, excelente estudiante en todas las materias.</p>
            </div>
          </div>
    </div>
    <div class="subcontenedor d-flex justify-concent-center">
        <div class="card" style="width: 90%;">
            <img src="https://i.ytimg.com/vi/RpFrEssizzI/maxresdefault.jpg" class="card-img-top" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Sara Aponte</h5>
              <p class="card-text" style="text-align: justify;">Estudiante del CSMA desde hace 12 años, promedio general sobre 9,3, excelente estudiante en todas las materias.</p>
            </div>
          </div>
    </div>
</div>
