<div class="contenedor">
    <div class="subcontenedor">
        <h3 class="text-center mt-3">Bienvenidos a CSMA</h3>
        <img class="text-center mb-3" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQZIKdNU38WRk0PBQUCJuIFouBoPVKOxA8ypA&usqp=CAU" width="100%">
        <p style="text-align: justify;">Este periodico digital es un proyecto de grado once promocion 2023, con el fin de informar a la comunidad mateista atraves de medios digitales como el celular y navegadores web.</p>
   <b>Conformado por: </b>
   <code>Maria Fernanda Niño</code>

    </div>

    </div>
